.dark .ant-picker {
  background-color: #1f2937 !important; /* Dark mode background */
  border-color: #4b5563 !important;    /* Border for dark mode */
}

.ant-picker:hover {
  border-color: #2563eb !important;    /* Hover border */
}

/* .dark.ant-picker-focused {
  border-color: #3b82f6 !important;   
  background-color: #000 !important;  
} */
.ant-picker-dropdown {
  background-color: #1f2937 !important;
  border-color: #4b5563 !important;
  color: #fff !important;
}


.dark .fc-view thead {
      background-color: skyblue;

}

.fc-view thead {
      background-color: #00e1ff
}