/* General styles */
.navbar {
  /* background-color: white; */
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  box-shadow: 0 4px 6px rgba(20, 20, 20, 0.308);
  transition: background-color 0.3s, color 0.3s;
}

.navbar-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1.5rem 1.5rem;
}




.nav-link:hover {
  color: #3182ce;
}

/* Button styles */
.btn {
  padding: 4px 10px;
  border-radius: 0.375rem;
  display: inline-block;
}

/* .btn-login {
  background-color: #48bb78;
  color: white;
  transition: background-color 0.3s ease-in-out;
} */

/* .btn-login:hover {
  background-color: #38a169;
}

.dark  .navbar .btn-login {
  background-color: #2f855a;
} */

/* .dark  .navbar .btn-login:hover {
  background-color: #276749;
} */

/* Mobile Menu Styles */
.mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 1.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}



.mobile-menu .nav-link {
  margin-bottom: 1rem;
}

.icon {
  cursor: pointer;
  transition: color 0.3s;
}

.dark.navbar .icon {
  color: #e2e8f0;
}


/* footer */
footer{
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.cta-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  color: white;
  background-color: #1f2937;
  border-radius: 0.5rem;
  gap: 0.75rem;
  transition: background-color 0.3s;
}

.cta-button:hover {
  background-color: #374151;
}

.footer-link {
  color: #4b5563;
  transition: color 0.3s, text-decoration 0.3s;
}
.dark .footer-link{
  color:rgb(168, 168, 168);
}

.footer-link:hover {
  color: #3b82f6;
  text-decoration: underline;
}

.section-title {
  font-weight: 600;
  color: #1f2937;
}

.dark .section-title {
  color: white;
}
