body {
  /* background: #6a11cb; */
  height: 20vh;

  /* Chrome 10-25, Safari 5.1-6 */
  /* background: -webkit-linear-gradient(to top, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1)); */

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

  .login-toggle a {
    cursor: pointer; 
     margin-left: 10px;

  }

  .login-toggle a,
  a {
    cursor: pointer;
    color: rgb(0, 89, 255);
  }
  
  .login-toggle a:hover,
  a:hover {
    color: rgb(0, 183, 255); 
  }
  .w-100 {
    width: 95% !important;
}